In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [4]:
data

            0         1         2         3
0   -0.143968 -0.194572 -0.413364  1.968363
1   -0.215113  1.098091 -1.987417  0.332025
2    0.932056  0.170451  1.153590 -2.705740
3   -0.107250  0.448476 -0.690321 -0.976942
4    0.104852  0.641525  0.197139 -0.741408
..        ...       ...       ...       ...
995  0.289623  0.524054  0.687799 -0.517671
996  0.315093  0.171164 -0.686105  0.667698
997 -2.149893  0.802774 -0.740163 -0.601048
998  1.938580  1.867110  1.470779 -0.838023
999  1.121873  0.561789 -0.805056 -0.276275

[1000 rows x 4 columns]

In [6]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
199 -0.685217 -0.181065  3.156212 -0.018947
203  0.615729  0.791300 -3.008556 -1.093313
261 -0.741750  0.955816 -3.249987 -0.107568
325  0.116543  0.011919  0.660396 -3.586239
490 -1.208739  0.218290 -3.275176  1.187109
596  0.073143 -0.968585 -3.088650 -0.621848
809 -2.295237  0.700799  0.104558  3.585665
858  0.392488 -3.081577  0.495581  1.954118
977 -0.213810  3.948961  0.200690  0.607963
983  0.616561  1.524833 -3.065854  1.366210

In [8]:
np.abs(data) > 3

         0      1      2      3
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
..     ...    ...    ...    ...
995  False  False  False  False
996  False  False  False  False
997  False  False  False  False
998  False  False  False  False
999  False  False  False  False

[1000 rows x 4 columns]

In [9]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [10]:
data[(np.abs(data) > 3).any(1)]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []