In [51]:
import numpy as np
import pandas as pd
from utils import range_letters

In [52]:
df1 = pd.DataFrame({"key": range_letters("a", "g"), "data1": range(6)})
df2 = pd.DataFrame({"key": range_letters("c", "f"), "data2": range(10, 13)})

In [53]:
df1

  key  data1
0   a      0
1   b      1
2   c      2
3   d      3
4   e      4
5   f      5

In [54]:
df2

  key  data2
0   c     10
1   d     11
2   e     12

In [55]:
pd.merge(df1, df2, on="key")

  key  data1  data2
0   c      2     10
1   d      3     11
2   e      4     12

In [56]:
pd.merge(df1, df2, on="key", how="outer")

  key  data1  data2
0   a      0    NaN
1   b      1    NaN
2   c      2   10.0
3   d      3   11.0
4   e      4   12.0
5   f      5    NaN

In [57]:
pd.merge(df1, df2, on="key", how="left")

  key  data1  data2
0   a      0    NaN
1   b      1    NaN
2   c      2   10.0
3   d      3   11.0
4   e      4   12.0
5   f      5    NaN

In [58]:
pd.merge(df1, df2, on="key", how="right")

  key  data1  data2
0   c      2     10
1   d      3     11
2   e      4     12

In [59]:
df1 = pd.DataFrame({"key": ["a", "a", "b", "b", "c"], "data1": [1, 2, 10, 11, 20]})
df2 = pd.DataFrame({"key": ["a", "b", "b", "c", "c"], "data2": [1, 10, 11, 20, 21]})

In [60]:
df1

  key  data1
0   a      1
1   a      2
2   b     10
3   b     11
4   c     20

In [61]:
df2

  key  data2
0   a      1
1   b     10
2   b     11
3   c     20
4   c     21

In [62]:
pd.merge(df1, df2)

  key  data1  data2
0   a      1      1
1   a      2      1
2   b     10     10
3   b     10     11
4   b     11     10
5   b     11     11
6   c     20     20
7   c     20     21

In [63]:
df3 = df1.set_index(["key"])

In [64]:
df3

     data1
key
a        1
a        2
b       10
b       11
c       20

In [65]:
pd.merge(df3, df2, left_index=True, right_on="key")

   data1 key  data2
0      1   a      1
0      2   a      1
1     10   b     10
2     10   b     11
1     11   b     10
2     11   b     11
3     20   c     20
4     20   c     21

In [66]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series(["a", "b", "c"])
s3 = pd.Series(["I", "II", "III"])

In [67]:
pd.concat([s1, s2, s3])

0      1
1      2
2      3
0      a
1      b
2      c
0      I
1     II
2    III
dtype: object

In [68]:
pd.concat([s1, s2, s3], axis="columns", keys=["digit", "letter", "roman"])

   digit letter roman
0      1      a     I
1      2      b    II
2      3      c   III

In [69]:
df1 = pd.DataFrame({"data1": range(5)}, index=range_letters("a", "f"))
df2 = pd.DataFrame({"data1": range(10, 15)}, index=range_letters("c", "h"))

In [70]:
df1

   data1
a      0
b      1
c      2
d      3
e      4

In [71]:
df2

   data1
c     10
d     11
e     12
f     13
g     14

In [72]:
df1.combine_first(df2)

   data1
a      0
b      1
c      2
d      3
e      4
f     13
g     14

In [73]:
df2.combine_first(df1)

   data1
a      0
b      1
c     10
d     11
e     12
f     13
g     14