In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series(range(1, 10),
                 index=[["a", "a", "a", "b", "b", "c", "c", "d", "d"], [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [3]:
data

a  1    1
   2    2
   3    3
b  1    4
   3    5
c  1    6
   2    7
d  2    8
   3    9
dtype: int64

In [4]:
data.unstack()

     1    2    3
a  1.0  2.0  3.0
b  4.0  NaN  5.0
c  6.0  7.0  NaN
d  NaN  8.0  9.0

In [5]:
data.unstack().stack()

a  1    1.0
   2    2.0
   3    3.0
b  1    4.0
   3    5.0
c  1    6.0
   2    7.0
d  2    8.0
   3    9.0
dtype: float64

In [6]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [8]:
data.swaplevel(0, 1).sort_index()

1  a    1
   b    4
   c    6
2  a    2
   c    7
   d    8
3  a    3
   b    5
   d    9
dtype: int64

In [9]:
data.sum(level=1)

/var/folders/mb/scw4cymn1y3bncrgj47cgwxh0000gn/T/ipykernel_4945/3782607638.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data.sum(level=1)

1    11
2    17
3    17
dtype: int64